<template>
  <v-dialog
    color="background"
    v-model="show"
    fullscreen
  >
    <v-card color="background">
      <v-toolbar color="header">
        <v-btn icon @click="hideDialog()">
        <v-icon>mdi-close</v-icon>
        </v-btn>
        <v-toolbar-title>Add Item</v-toolbar-title>
      </v-toolbar>
      <v-text-field
        :loading="searching"
        class="search"
        clearable
        label="Search"
        append-outer-icon="mdi-magnify"
        single-line
        v-model="searchTerm"
        @click:append-outer="search()"
        @keydown="keydown"
      >
      </v-text-field>
      <v-list color="background">
        <v-list-item
          v-for="item in orderedSearchItems"
          :key="item.id"
          two-line
          @click="selectItem(item.id)"
        >
          <v-lazy>
            <v-list-item-avatar tile>
              <v-img :src="'/icons/' + item.icon"></v-img>
            </v-list-item-avatar>
          </v-lazy>
          <v-list-item-content>
            <v-list-item-title>{{ item.name | capitalise }}</v-list-item-title>
            <v-list-item-subtitle>{{ item.description | capitalise  }}</v-list-item-subtitle>
          </v-list-item-content>
          </v-list-item>
      </v-list>
      <v-banner>
        <span v-html="this.$store.state.iconAttribution"></span>
      </v-banner>
    </v-card>
  </v-dialog>
</template>

<script>
import { mapState } from 'vuex'

export default {
  computed: {
    orderedSearchItems: function () {
      return this.lodash.orderBy(this.searchItems, 'name')
    },

    ...mapState([
      'shoppingItems'
    ]),

    show: {
      get () {
        return this.value
      },
      set (value) {
        this.$emit('input', value)
      }
    }
  },

  data () {
    return {
      previousSearchTerm: '',
      searching: false,
      searchItems: [],
      searchTerm: ''
    }
  },

  methods: {
    doSearch (term) {
      this.searching = true
      this.axios
        .get('/api/search_item/' + term)
        .then(response => {
          this.searchItems = response.data
          this.searching = false
        })
    },

    hideDialog () {
      this.show = false
      this.$emit('close')
      // this.$router.go(-1)
    },

    keydown (event) {
      /* ENABLE THIS FOR MANUAL (ENTER/CLICK) SEARCHING
      if (event.key === 'Enter') {
        this.search()
      }
      */
    },

    search () {
      if (this.searchTerm.length > 2) {
        if (this.searchTerm !== this.previousSearchTerm) {
          this.doSearch(this.searchTerm)
          this.previousSearchTerm = this.searchTerm
        }
      }
      else {
        this.searchItems = []
      }
    },

    selectItem (id) {
      if (this.shoppingItems.some(item => item.id === id)) {
        // Already in shopping list, add again?
      }
      this.$store.commit('addItemToShoppingList', this.searchItems.find(item => item.id === id))
      this.hideDialog()
    },

    showDialog () {
      // this.$router.push('#additem')
    }
  },

  props: {
    value: Boolean
  },

  watch: {
    // Causes an API call on every change of the search term
    // *DISABLE* THIS FOR MANUAL (ENTER/CLICK) SEARCHING
    searchTerm (val) {
      if (val.length > 2) {
        this.doSearch(val)
      }
      else {
        this.searchItems = []
      }
    }

    /* ENABLE THIS FOR MANUAL (ENTER/CLICK) SEARCHING
    searchTerm (val) {
      // Clear the search items if the text in the search box is cleared
      if (!val) {
        this.searchItems = []
      }
    }
    */
  }
}
</script>

<style scoped>
  .addItemDialog, .addItemDialog > * {
    overflow-x: hidden !important;
  }

  /deep/ .search {
    /* Stop search field from being too wide
    *  and causing horizontal scroll bar to appear */
    margin-left: auto;
    margin-right: auto;
    width: 90%;
  }
</style>
