<template>
  <v-dialog
    color="background"
    v-model="show"
    fullscreen
  >
    <v-card color="background">
      <v-toolbar color="header">
        <v-btn icon @click="hideDialog()">
        <v-icon>mdi-close</v-icon>
        </v-btn>
        <v-toolbar-title>Shopping Trip</v-toolbar-title>
      </v-toolbar>
      <v-list
        v-if="orderedShoppingTripList"
        color="background"
        expand
      >
        <v-list-group
          v-for="(shop, key) in orderedShoppingTripList"
          :key="key"
          no-action
          :value="!allChecked(shop.id)"
          :v-model="allChecked(shop.id)"
        >
          <template v-slot:activator>
            <v-list-item-content>
              <v-list-item-title
                v-text="shop.name"
                :class="{ checked: allChecked(shop.id) }"
              >
              </v-list-item-title>
            </v-list-item-content>
          </template>
          <v-list-item
            v-for="item in shop.items"
            :key="item"
            two-line
            class="px-2 px-md-4"
          >
            <v-lazy>
              <v-badge
                avatar
                color="secondary"
                overlap
                bottom
                right
                offset-x="35px"
                offset-y="35px"
              >
                <template v-slot:badge>
                  <v-avatar tile>
                    {{ getItemById(item).quantity }}
                  </v-avatar>
                </template>
                <v-list-item-avatar tile size="50">
                  <v-img
                    :src="'/icons/' + getItemById(item).icon"
                    :class="{ checked: shoppingTripListChecked[item] }"
                  >
                  </v-img>
                </v-list-item-avatar>
              </v-badge>
            </v-lazy>
            <v-list-item-content
              :class="{ checked: shoppingTripListChecked[item] }"
            >
              <v-list-item-title>{{ getItemById(item).name | capitalise }}</v-list-item-title>
              <v-list-item-subtitle>{{ getItemById(item).description | capitalise }}</v-list-item-subtitle>
            </v-list-item-content>
            <!--<v-list-item-action>
              <v-btn
                icon
                color="primary"
                @click="showItemMenu(item)"
              >
                <v-icon>mdi-dots-vertical</v-icon>
              </v-btn>
            </v-list-item-action>-->
            <v-list-item-action>
              <v-btn
                v-if="!isChecked(item)"
                icon
                color="primary"
                @click="check(item)"
              >
                <v-icon>mdi-checkbox-blank-outline</v-icon>
              </v-btn>
              <v-btn
                v-if="isChecked(item)"
                icon
                color="primary"
                @click="check(item)"
              >
                <v-icon>mdi-checkbox-marked</v-icon>
              </v-btn>
            </v-list-item-action>
          </v-list-item>
        </v-list-group>
      </v-list>
      <v-banner>
        <span v-html="this.$store.state.iconAttribution"></span>
      </v-banner>
      <v-layout column class="fabContainer">
        <v-btn
          dark
          fab
          color="accent"
          @click="finish()"
        >
          <v-icon>mdi-check</v-icon>
        </v-btn>
      </v-layout>
    </v-card>
    <v-dialog
      v-model="displayFinishedDialog"
      persistent
      max-width="300"
    >
      <v-card>
        <v-card-title class="headline">Finished?</v-card-title>
        <v-card-text>Are you sure you've finished shopping?</v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn text color="primary" @click="displayFinishedDialog = false">No</v-btn>
          <v-btn text color="primary" @click="confirmFinished()">Yes</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
    <v-dialog
      v-model="displayFoundEverythingDialog"
      persistent
      max-width="300"
    >
      <v-card>
        <v-card-title class="headline">Found Everything?</v-card-title>
        <v-card-text>Did you find everything you were looking for?</v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn text color="primary" @click="couldntFindEverything()">No</v-btn>
          <v-btn text color="primary" @click="couldFindEverything()">Yes</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
    <v-dialog
      v-model="displaySelectMissingItemsDialog"
      persistent
      scrollable
      max-width="300"
    >
      <v-card>
        <v-card-title class="headline">Select Missing Items</v-card-title>
        <v-card-text>
          Please select which items are no longer available (i.e. items which the vendor has stopped selling, not items that are merely out of stock).
        </v-card-text>
        <v-divider></v-divider>
        <v-card-text class="px-1">
          <v-list max-height="300">
            <v-list-item
              v-for="item in orderedAvailableShoppingItems"
              :key="item.id"
            >
              <v-lazy>
              <v-list-item-avatar tile size="50">
                <v-img
                  :src="'/icons/' + item.icon"
                >
                </v-img>
              </v-list-item-avatar>
              </v-lazy>
              <v-list-item-content>
                <v-list-item-title>{{ item.name | capitalise }}</v-list-item-title>
                <v-list-item-subtitle>{{ item.description | capitalise }}</v-list-item-subtitle>
              </v-list-item-content>
              <v-list-item-action>
              <v-btn
                v-if="!isAvailable(item.id)"
                icon
                color="primary"
                @click="toggleItemNotAvailable(item.id)"
              >
                <v-icon>mdi-checkbox-blank-outline</v-icon>
              </v-btn>
              <v-btn
                v-if="isAvailable(item.id)"
                icon
                color="primary"
                @click="toggleItemNotAvailable(item.id)"
              >
                <v-icon>mdi-checkbox-marked</v-icon>
              </v-btn>
            </v-list-item-action>
            </v-list-item>
          </v-list>
        </v-card-text>
        <v-divider></v-divider>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn text color="primary" @click="cancelSelectMissingItems()">Cancel</v-btn>
          <v-btn text color="primary" @click="confirmSelectMissingItems()">Confirm</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
    <v-dialog
      v-model="displayClearListDialog"
      persistent
      max-width="300"
    >
      <v-card>
        <v-card-title class="headline">Clear Shopping List?</v-card-title>
        <v-card-text>Do you want to clear your shopping list?</v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn text color="primary" @click="dontClearShoppingList()">No</v-btn>
          <v-btn text color="primary" @click="clearShoppingList()">Yes</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
    <v-dialog
      v-model="displayThanksDialog"
      persistent
      max-width="300"
    >
      <v-card>
        <v-card-title class="headline">Thanks!</v-card-title>
        <v-card-text>Thank you for submitting your feedback and helping us to improve the app.</v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn text color="primary" @click="closeThanksDialog()">Ok</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-dialog>
</template>

<script>
import { mapState } from 'vuex'

export default {
  computed: {
    /* orderedShopItems: function (items) {
      let sortedList = this.lodash.orderBy(items, 'name')
      console.log(sortedList)
      return sortedList
    }, */

    orderedShoppingItems: function () {
      return this.lodash.orderBy(this.shoppingItems, 'name')
    },

    orderedAvailableShoppingItems: function () {
      // Filter shopping trip list items down to those that aren't
      // available from any vendor
      if (this.lodash.isEmpty(this.shoppingTripList)) return {}

      // Get a list of unavailable items if there are any
      let unavailableItems = []
      if (this.lodash.has(this.shoppingTripList, 0)) {
        unavailableItems = this.shoppingTripList[0].items
      }

      // Use that filter to create an array of available items
      const availableItems = this.shoppingItems.filter(el => {
        return !unavailableItems.includes(el.id)
      })

      return this.lodash.orderBy(availableItems, 'name')
    },

    orderedShoppingTripList: function () {
      return this.lodash.orderBy(this.shoppingTripList, 'distance')
    },

    ...mapState([
      'shoppingItems',
      'shoppingTripList',
      'shoppingTripListChecked'
    ]),

    show: {
      get () {
        return this.value
      },
      set (value) {
        this.$emit('input', value)
      }
    }
  },

  data () {
    return {
      displayClearListDialog: false,
      displayFinishedDialog: false,
      displayFoundEverythingDialog: false,
      displaySelectMissingItemsDialog: false,
      displayThanksDialog: false,
      unavailableItems: []
    }
  },

  methods: {
    allChecked (id) {
      let allChecked = true
      this.shoppingTripList[id].items.forEach(itemID => {
        if (!this.shoppingTripListChecked[itemID]) {
          allChecked = false
        }
      })
      return allChecked
    },

    cancelSelectMissingItems () {
      this.displaySelectMissingItemsDialog = false
      this.displayClearListDialog = true
    },

    check (id) {
      this.$store.commit('checkShoppingListItem', id)
      this.$forceUpdate()
    },

    clearShoppingList () {
      this.$store.commit('clearShoppingItems')
      this.$store.commit('clearShoppingTripList')
      this.$store.commit('clearShoppingTripListChecked')
      this.unavailableItems = []
      this.displayClearListDialog = false
      this.$router.replace('/')
    },

    closeThanksDialog () {
      this.displayThanksDialog = false
      this.displayClearListDialog = true
    },

    confirmFinished () {
      this.displayFinishedDialog = false
      this.displayFoundEverythingDialog = true
    },

    confirmSelectMissingItems () {
      const vue = this
      const itemShopPairs = []
      vue.unavailableItems.forEach(unavailableItem => {
        Object.entries(vue.shoppingTripList).forEach(([shopID, shop]) => {
          if (shop.items.includes(unavailableItem)) {
            itemShopPairs.push([unavailableItem, shopID])
          }
        })
      })
      console.log(itemShopPairs)
      this.axios.post('/api/missing_items', itemShopPairs).then(function (response) {
        vue.displaySelectMissingItemsDialog = false
        // vue.waiting = false
        vue.displayThanksDialog = true
      })
    },

    couldFindEverything () {
      this.displayFoundEverythingDialog = false
      this.displayClearListDialog = true
    },

    couldntFindEverything () {
      this.displayFoundEverythingDialog = false
      this.displaySelectMissingItemsDialog = true
    },

    dontClearShoppingList () {
      this.$store.commit('clearShoppingTripList')
      this.$store.commit('clearShoppingTripListChecked')
      this.unavailableItems = []
      this.displayClearListDialog = false
      this.hideDialog()
    },

    finish () {
      this.displayFinishedDialog = true
    },

    getItemById (id) {
      return this.shoppingItems.find(e => e.id === id)
    },

    hideDialog () {
      this.show = false
      this.$emit('close')
      // this.$router.go(-1)
    },

    isAvailable (id) {
      return this.unavailableItems.includes(id)
    },

    isChecked (id) {
      return this.shoppingTripListChecked[id] === true
    },

    showDialog () {
      // this.$router.push('#shoppingtrip')
    },

    toggleItemNotAvailable (id) {
      if (this.unavailableItems.includes(id)) {
        this.unavailableItems = this.unavailableItems.filter(el => el !== id)
      }
      else {
        this.unavailableItems.push(id)
      }
      console.log(this.unavailableItems)
    }
  },

  props: {
    value: Boolean
  }
}
</script>

<style scoped>
  .checked {
    text-decoration: line-through;
  }

  .checked.v-image {
    filter: opacity(50%);
  }

  .fabContainer {
    padding: 15px;
    position: fixed;
    bottom: 0;
    right: 0;
  }

  .shoppingTripDialog, .shoppingTripDialog > * {
    overflow-x: hidden !important;
  }
</style>
