<template>
  <v-container>
    <v-navigation-drawer
      v-model="drawer"
      app
      clipped
    >
      <v-list dense>
        <v-list-item :to="{path: '/'}">
          <v-list-item-action>
            <v-icon>mdi-home</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title>Home</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
        <v-list-item :to="{path: '/map'}">
          <v-list-item-action>
            <v-icon>mdi-map</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title>Map</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
        <v-list-item :to="{path: '/shoppinglist'}">
          <v-list-item-action>
            <v-icon>mdi-basket</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title>Shopping List</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
        <v-list-item :to="{path: '/settings'}">
          <v-list-item-action>
            <v-icon>mdi-cog</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title>Settings</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
        <v-list-item :to="{path: '/about'}">
          <v-list-item-action>
            <v-icon>mdi-help</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title>About</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
      </v-list>
    </v-navigation-drawer>

    <v-app-bar
      app
      clipped-left
    >
      <v-app-bar-nav-icon @click.stop="drawer = !drawer"></v-app-bar-nav-icon>
      <v-toolbar-title>0waste</v-toolbar-title>
    </v-app-bar>

    <v-row>
      <v-col cols="12">
        <v-row
          align="stretch"
          justify="center"
        >
          <v-img
          :src="require('../assets/logo.svg')"
          class="my-3"
          contain
          height="200"
        ></v-img>
        </v-row>
      </v-col>
      <v-col cols="12">
        <v-row
          align="stretch"
          justify="center"
        >
          <h1 class="display-2 font-weight-bold text-center">
            Welcome to 0waste.app
          </h1>
        </v-row>
      </v-col>
      <v-col cols="12">
        <v-row
          align="stretch"
          justify="center"
        >
          <v-btn class="ma-2" color="primary" to="/shoppinglist">Start Shopping</v-btn>
        </v-row>
        <v-row
          align="stretch"
          justify="center"
        >
          <v-btn class="ma-2" color="primary" to="/map">Browse the Map</v-btn>
        </v-row>
      </v-col>
    </v-row>
  </v-container>
  <!--<v-container>
    <v-layout
      text-center
      wrap
    >
      <v-flex xs12>
        <v-img
          :src="require('../assets/logo.svg')"
          class="my-3"
          contain
          height="200"
        ></v-img>
      </v-flex>

      <v-flex mb-4>
        <h1 class="display-2 font-weight-bold mb-3">
          Welcome to 0waste.app
        </h1>
        <p class="subheading font-weight-regular">
          This app is currently under development.
        </p>
      </v-flex>
    </v-layout>
  </v-container>-->
</template>

<script>
export default {
  props: {
    source: String
  },
  data: () => ({
    drawer: null
  })
}
</script>
