<template>
  <v-container fluid pa-0 ma-0 fill-height class="map-mapContainer">
    <v-app-bar
      app
      clipped-left
    >
      <v-btn icon @click="$router.go(-1)"><v-icon>mdi-arrow-left</v-icon></v-btn>
      <v-toolbar-title>Map</v-toolbar-title>
    </v-app-bar>
    <VueMapboxMap
      class="map-mapContainer"
      :access-token="this.$store.state.mapbox_access_token"
      :lng="this.$store.state.mapLng"
      :lat="this.$store.state.mapLat"
      :pitch="0"
      :zoom="this.$store.state.mapZoom"
      :mapStyle="this.$store.state.mapStyle"
      :attributionControl="true"
      @mapbox-ready="onMapLoaded"
    >
    <!--@mapbox-destroyed="onMapDestroyed"
      :zoom='scene.zoom'
      :pitch='scene.pitch'
      :bearing='scene.bearing'-->
    </VueMapboxMap>

    <v-layout
      column
      class="map-fabContainer"
      bottom
      fixed
    >
      <v-btn
        dark
        fab
        color="accent"
        @click="trackUserLoc"
        v-if="!trackingUserLoc"
      >
        <v-icon>mdi-crosshairs-off</v-icon>
      </v-btn>
      <v-btn
        dark
        fab
        color="accent"
        @click="stopTrackingUserLoc"
        v-if="trackingUserLoc"
      >
        <v-icon>mdi-crosshairs-gps</v-icon>
      </v-btn>
      <!--<v-btn
        dark
        fab
        color="accent"
      >
        <v-icon>mdi-plus</v-icon>
      </v-btn>-->
    </v-layout>

    <v-dialog
      v-model="displayAllowLocationDialog"
      max-width="300"
    >
      <v-card>
        <v-card-title class="headline">Location</v-card-title>
        <v-card-text>
          Please allow location permissions.
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn
            color="primary"
            @click="displayAllowLocationDialog = false"
            text
          >
            Ok
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-container>
</template>

<script>
import VueMapboxMap from 'vue-mapbox-map'
import geolocator from 'geolocator'

export default {
  components: {
    VueMapboxMap
  },

  data () {
    return {
      displayAllowLocationDialog: false,
      map: null,
      geolocationWatcherId: 0,
      trackingUserLoc: false
    }
  },

  mounted () {
    console.log('mounted()')
  },

  methods: {
    trackUserLoc () {
      console.log('trackUserLoc()')
      var vue = this
      this.geolocationWatcherId = navigator.geolocation.watchPosition(
        function (position) {
          // Success
          vue.trackingUserLoc = true
          vue.centreMapOn(position.coords.longitude, position.coords.latitude)
        },
        function () {
          // Fall back to IP geolocation
          vue.stopTrackingUserLoc()

          // Get the user's IP address. If it has changed since last time,
          // update it, get the new user location, and update that too.
          // If it hasn't, do nothing.
          geolocator.getIP(function (err, result) {
            console.log(err || result)
            if (result.ip !== vue.$store.state.ip) {
              vue.$store.commit('setIP', result.ip)
              geolocator.locateByIP({},
                function (err, location) {
                  console.log(err || location)
                  if (location) {
                    vue.$store.commit('setUserLoc', {
                      lng: location.coords.longitude,
                      lat: location.coords.latitude
                    })
                  }
                  else {
                    vue.displayAllowLocationDialog = true
                  }
                }
              )
            }
          })

          // Centre the map on the stored user location
          vue.centreMapOn(vue.$store.state.userLng, vue.$store.state.userLat)
        },
        {
          enableHighAccuracy: false,
          timeout: 1000,
          maximumAge: 0
        }
      )
    },

    stopTrackingUserLoc () {
      console.log('stopTrackingUserLoc()')
      this.trackingUserLoc = false
      navigator.geolocation.clearWatch(this.geolocationWatcherId)
    },

    centreMapOn (lng, lat) {
      this.map.easeTo({
        center: [lng, lat],
        zoom: 16,
        duration: 1000
      })
    },

    onMapLoaded (map) {
      console.log('onMapLoaded()')
      this.map = map
      // map.addControl(new mapboxgl.AttributionControl({ compact: false }), 'top-right')

      var vue = this

      map.resize()

      map.on('click', 'unclustered-point', function (event) {
        console.log('vendors click')
        vue.$router.push({ name: 'vendor', params: { id: event.features[0].id } }) // E.g. /vendor/1000000600236239
      })

      // Change the cursor to a pointer when the mouse is over the vendors layer
      map.on('mouseenter', 'unclustered-point', function () {
        map.getCanvas().style.cursor = 'pointer'
      })

      // Change it back to a pointer when it leaves.
      map.on('mouseleave', 'unclustered-point', function () {
        map.getCanvas().style.cursor = ''
      })

      // Change the cursor to a pointer when the mouse is over the clusters layer
      map.on('mouseenter', 'clusters', function () {
        map.getCanvas().style.cursor = 'pointer'
      })

      // Change it back to a pointer when it leaves.
      map.on('mouseleave', 'clusters', function () {
        map.getCanvas().style.cursor = ''
      })

      // Save the map latitude, longitude and zoom when it is moved
      map.on('moveend', function () {
        console.log('moveend')
        var lngLat = map.getCenter().toArray()
        var zoom = map.getZoom()
        vue.$store.commit('setMapLoc', { lngLat, zoom })
      })

      map.addSource('vendors', {
        type: 'geojson',
        data: '/planet.europe.great-britain.geojson',
        cluster: true,
        clusterMaxZoom: 14
      })

      map.loadImage('/map-marker.png',
        function (error, image) {
          if (error) throw error
          map.addImage('map-marker', image, {
            sdf: true
          })
        }
      )

      map.addLayer({
        id: 'clusters',
        type: 'circle',
        source: 'vendors',
        filter: ['has', 'point_count'],
        paint: {
          // Use step expressions (https://docs.mapbox.com/mapbox-gl-js/style-spec/#expressions-step)
          // with three steps to implement three types of circles:
          //   * Blue, 20px circles when point count is less than 100
          //   * Yellow, 30px circles when point count is between 100 and 750
          //   * Pink, 40px circles when point count is greater than or equal to 750
          'circle-color': [
            'step',
            ['get', 'point_count'],
            '#51bbd6',
            100,
            '#f1f075',
            750,
            '#f28cb1'
          ],
          'circle-radius': [
            'step',
            ['get', 'point_count'],
            15,
            100,
            25,
            750,
            35
          ]
        }
      })

      map.addLayer({
        id: 'cluster-count',
        type: 'symbol',
        source: 'vendors',
        filter: ['has', 'point_count'],
        layout: {
          'text-field': '{point_count_abbreviated}',
          'text-size': 12
        }
      })

      map.addLayer({
        id: 'unclustered-point',
        type: 'symbol',
        source: 'vendors',
        filter: ['!', ['has', 'point_count']],
        layout: {
          'icon-allow-overlap': true,
          'icon-image': 'map-marker',
          'icon-size': 0.5
        },
        paint: {
          'icon-color': [
            'match',
            ['get', 'type'],
            'alcohol', '#999950',
            'bakery', '#646B63',
            'beverages', '#1F3A3D',
            'brewing_supplies', '#412227',
            'butcher', '#8E9308',
            'cheese', '#2E3A23',
            'chocolate', '#CB3234',
            'coffee', '#25221B',
            'confectionery', '#6C7156',
            'convenience', '#29B3E8',
            'deli', '#F80000',
            'dairy', '#5B3A29',
            'farm', '#CB2821',
            'frozen_food', '#909090',
            'greengrocer', '#8E402A',
            'health_food', '#C6A664',
            'ice_cream', '#231A24',
            'pasta', '#FE0000',
            'pastry', '#DE4C8A',
            'seafood', '#59351F',
            'spices', '#282828',
            'tea', '#FFFF00',
            'general', '#4E5754',
            'supermarket', '#D84B20',
            'wholesale', '#31372B',
            '#FFFFFF' // Other
            // This should probably be moved into Vuex
          ]
        }
      })

      // inspect a cluster on click
      map.on('click', 'clusters', function (e) {
        var features = map.queryRenderedFeatures(e.point, {
          layers: ['clusters']
        })
        var clusterId = features[0].properties.cluster_id
        map.getSource('vendors').getClusterExpansionZoom(
          clusterId,
          function (err, zoom) {
            if (err) return

            map.easeTo({
              center: features[0].geometry.coordinates,
              zoom: zoom
            })
          }
        )
      })

      /* map.addLayer({
        id: 'vendors',
        type: 'circle',
        source: 'vendors',
        paint: {
          'circle-color': [
            'match',
            ['get', 'type'],
            'alcohol', '#999950',
            'bakery', '#646B63',
            'beverages', '#1F3A3D',
            'brewing_supplies', '#412227',
            'butcher', '#39352A',
            'cheese', '#2E3A23',
            'chocolate', '#CB3234',
            'coffee', '#25221B',
            'confectionery', '#6C7156',
            'convenience', '#332F2C',
            'deli', '#F80000',
            'dairy', '#5B3A29',
            'farm', '#CB2821',
            'frozen_food', '#909090',
            'greengrocer', '#8E402A',
            'health_food', '#C6A664',
            'ice_cream', '#231A24',
            'pasta', '#FE0000',
            'pastry', '#DE4C8A',
            'seafood', '#59351F',
            'spices', '#282828',
            'tea', '#FFFF00',
            'general', '#4E5754',
            'supermarket', '#D84B20',
            'wholesale', '#31372B',
            '#FFFFFF' // Other
            // This should probably be moved into Vuex
          ]
        }
      }) */
    }
  }
}
</script>

<style>
/* @import url("https://api.mapbox.com/mapbox-gl-js/v1.5.0/mapbox-gl.css"); */

.map-fabContainer {
  padding: 15px;
  position: fixed;
  bottom: 0;
  right: 0;
  height: auto !important;
  margin-bottom: 25px; /* Bump the FABs up a bit so they don't cover the map info */
}

.map-fabContainer > * {
  margin-top: 15px;
}

.map-mapContainer {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
</style>
