<template>
  <v-container>
    <v-app-bar
      app
      clipped-left
    >
      <v-btn icon @click="$router.go(-1)"><v-icon>mdi-arrow-left</v-icon></v-btn>
      <v-toolbar-title>Settings</v-toolbar-title>
    </v-app-bar>

    <v-switch
        v-model="$vuetify.theme.dark"
        label='Dark Theme'
        @change="toggleTheme()">
    </v-switch>

    <v-btn
      color='red'
      dark
      @click="clickClearSettings()"
    >
      Clear Settings
    </v-btn>

    <v-dialog
      v-model="displayClearSettingsDialog"
      max-width="300"
    >
      <v-card>
        <v-card-title class="headline">Clear Settings?</v-card-title>
        <v-card-text>
          Are you sure you want to clear your settings? This can't be undone.
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn
            color="primary"
            text
            @click="respondClearSettings(false)"
          >
            No
          </v-btn>
          <v-btn
            color="primary"
            text
            @click="respondClearSettings(true)"
          >
            Yes
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-container>
</template>

<script>
export default {
  data () {
    return {
      displayClearSettingsDialog: false
    }
  },

  methods: {
    clickClearSettings () {
      this.displayClearSettingsDialog = true
      // window.localStorage.removeItem('vuex')
    },

    respondClearSettings (yes) {
      if (yes) window.localStorage.removeItem('vuex')
      this.displayClearSettingsDialog = false
    },

    toggleTheme () {
      this.$store.commit('toggleDarkTheme')
      this.$store.commit('updateMapStyle')
    }
  }
}
</script>
