<template>
  <v-container pa-0>
    <v-app-bar
      app
      clipped-left
    >
      <v-btn icon @click="$router.go(-1)"><v-icon>mdi-arrow-left</v-icon></v-btn>
      <v-toolbar-title>Shopping List</v-toolbar-title>
    </v-app-bar>
    <v-list color="background">
      <v-list-item
        v-for="item in orderedShoppingItems"
        :key="item.id"
        two-line
        class="px-2 px-md-4"
      >
        <v-lazy>
          <v-badge
            avatar
            color="secondary"
            overlap
            bottom
            right
            offset-x="35px"
            offset-y="35px"
          >
            <template v-slot:badge>
              <v-avatar tile>
                {{ item.quantity }}
              </v-avatar>
            </template>
            <v-list-item-avatar tile size="50">
              <v-img :src="'/icons/' + item.icon"></v-img>
            </v-list-item-avatar>
          </v-badge>
        </v-lazy>
        <v-list-item-content>
          <v-list-item-title>{{ item.name | capitalise }}</v-list-item-title>
          <v-list-item-subtitle>{{ item.description | capitalise }}</v-list-item-subtitle>
        </v-list-item-content>
        <v-list-item-action>
          <v-btn
            :disabled="item.quantity === 1"
            icon
            color="primary"
            @click="decreaseQuantity(item.id)"
          >
            <v-icon>mdi-minus</v-icon>
          </v-btn>
        </v-list-item-action>
        <v-list-item-action>
          <v-btn
            icon
            color="primary"
            @click="increaseQuantity(item.id)"
          >
            <v-icon>mdi-plus</v-icon>
          </v-btn>
        </v-list-item-action>
        <v-list-item-action>
          <v-btn
            icon
            color="primary"
            @click="askRemoveItem(item.id)"
          >
            <v-icon>mdi-delete</v-icon>
          </v-btn>
        </v-list-item-action>
      </v-list-item>
    </v-list>
    <v-banner>
      <span v-html="this.$store.state.iconAttribution"></span>
    </v-banner>
    <v-layout column class="shoppingList-fabContainer">
      <v-slide-y-reverse-transition>
        <v-btn
          dark
          fab
          color="accent"
          @click="showAddItemDialog()"
          v-show="displayFAB"
        >
          <v-icon>mdi-plus</v-icon>
        </v-btn>
      </v-slide-y-reverse-transition>
      <v-slide-y-reverse-transition>
        <v-btn
          dark
          fab
          color="accent"
          @click="submitList()"
          v-show="displayFAB"
        >
          <v-icon>mdi-play</v-icon>
        </v-btn>
      </v-slide-y-reverse-transition>
    </v-layout>
    <AddItemDialog v-model="displayAddItemDialog" @click="hideAddItemDialog()"></AddItemDialog>
    <ShoppingTripDialog v-model="displayShoppingTripDialog" @click="hideShoppingTripDialog()"></ShoppingTripDialog>
    <v-dialog
      v-model="displayRemoveItemDialog"
      max-width="300"
    >
      <v-card>
        <v-card-title class="headline">Remove item?</v-card-title>
        <v-card-text>
          Are you sure you want to remove <i>{{ itemToRemove.name | capitalise }}, {{ itemToRemove.description }}</i> from your shopping list?
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn
            color="primary"
            @click="displayRemoveItemDialog = false"
            text
          >
            No
          </v-btn>
          <v-btn
            color="primary"
            @click="removeItem()"
            text
          >
            Yes
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
    <v-dialog
      fullscreen
      v-model="waiting"
    >
      <v-card
        class="d-flex flex-column justify-center align-center"
        color="background"
      >
        <v-card-title>Planning your shopping trip...</v-card-title>
        <v-card-text class="d-flex justify-center">
          <v-progress-circular
            indeterminate
          ></v-progress-circular>
        </v-card-text>
      </v-card>
    </v-dialog>
  </v-container>
</template>

<script>
import AddItemDialog from './ShoppingList/AddItemDialog.vue'
import ShoppingTripDialog from './ShoppingList/ShoppingTripDialog.vue'
import { mapState } from 'vuex'

export default {
  beforeDestroy () {
    document.removeEventListener('scroll', this.onScroll)
  },

  components: {
    AddItemDialog,
    ShoppingTripDialog
  },

  computed: {
    orderedShoppingItems: function () {
      return this.lodash.orderBy(this.shoppingItems, 'name')
    },

    ...mapState([
      'shoppingItems'
    ])
  },

  data () {
    return {
      displayAddItemDialog: false,
      displayFAB: true,
      displayRemoveItemDialog: false,
      displayShoppingTripDialog: false,
      initialScroll: true,
      itemToRemove: {},
      scrollTop: 0,
      waiting: false
    }
  },

  methods: {
    askRemoveItem (id) {
      this.itemToRemove = this.shoppingItems.filter(elem => elem.id === id)[0]
      this.displayRemoveItemDialog = true
    },

    decreaseQuantity (id) {
      this.$store.commit('decreaseShoppingItemQuantity', id)
      this.$forceUpdate()
    },

    hideAddItemDialog () {
      this.displayAddItemDialog = false
    },

    hideShoppingTripDialog () {
      this.displayShoppingTripDialog = false
    },

    increaseQuantity (id) {
      this.$store.commit('increaseShoppingItemQuantity', id)
      this.$forceUpdate()
    },

    onScroll () {
      const scrollTop = window.pageYOffset || document.documentElement.scrollTop

      /* Ignore the first scroll event: weird Safari quirk
      where it fires on page load */
      if (this.initialScroll) {
        this.initialScroll = false
        return
      }

      if (scrollTop > this.scrollTop) {
        this.displayFAB = false
      }
      else {
        this.displayFAB = true
      }
      this.scrollTop = scrollTop
    },

    removeItem () {
      this.$store.commit('removeShoppingItem', this.itemToRemove.id)
      this.displayRemoveItemDialog = false
      this.itemToRemove = 0
    },

    showAddItemDialog () {
      this.displayAddItemDialog = true
    },

    showShoppingTripDialog () {
      this.displayShoppingTripDialog = true
    },

    submitList () {
      const postData = {
        items: this.shoppingItems.map(item => item.id),
        location: [this.$store.state.userLng, this.$store.state.userLat]
      }
      this.waiting = true
      const vue = this
      this.axios.post('/api/trip', postData).then(function (response) {
        vue.$store.commit('setShoppingTripList', response.data)
        vue.showShoppingTripDialog()
        vue.waiting = false
      })
    }
  },

  mounted () {
    document.addEventListener('scroll', this.onScroll)
  }
}
</script>

<style scoped>
.shoppingList-fabContainer {
  padding: 15px;
  position: fixed;
  bottom: 0;
  right: 0;
}

.shoppingList-fabContainer > * {
  margin-top: 15px;
}

.v-list-item__action {
  /* Fix multiple list item actions causing different left margins */
  margin-left: 0 !important;
}
</style>
