<template>
  <v-container>
    <v-app-bar
      app
      clipped-left
    >
      <v-btn icon @click="goBack()"><v-icon>mdi-arrow-left</v-icon></v-btn>
      <v-toolbar-title>{{ this.vendor_name }}</v-toolbar-title>
    </v-app-bar>
    <VueMapboxMap
      class="map"
      :access-token="this.$store.state.mapbox_access_token"
      :lng="this.vendor_lon"
      :lat="this.vendor_lat"
      :pitch="0"
      :mapStyle="this.$store.state.mapStyle"
      :attributionControl='true'
      :interactive='false'
      :zoom='18'
      @mapbox-ready='onMapLoaded'
    >
    </VueMapboxMap>
    <v-row v-if="this.vendor_description">
      <v-col cols="12">
        <span class="vendor-description">{{ this.vendor_description }}</span>
      </v-col>
    </v-row>
    <v-row v-if="this.vendor_opening_times">
      <v-col cols="12">
        <h2>Opening Times</h2>
        {{ this.vendor_opening_times }}
      </v-col>
    </v-row>
    <v-row v-if="this.vendor_addr_housenumber || this.vendor_addr_street || this.vendor_addr_city || this.vendor_addr_postcode">
      <v-col cols="12">
        <h2>Address</h2>
        <div>{{ this.vendor_name }}</div>
        <div>{{ this.vendor_addr_housenumber }} {{ this.vendor_addr_street }}</div>
        <div>{{ this.vendor_addr_city }}</div>
        <div>{{ this.vendor_addr_postcode }}</div>
      </v-col>
    </v-row>
    <h2 v-if="this.vendor_wheelchair">Features</h2>
    <v-row>
      <v-col cols="2" v-if="this.vendor_wheelchair == 'yes'">
        <v-icon>mdi-wheelchair-accessibility</v-icon>
        <span>Wheelchair-accessible</span>
      </v-col>
    </v-row>
    <p>&copy; OpenStreetMap, provided under the Open Database Licence (ODbL).</p>
    <h2 v-if="this.vendor_items.length > 0">Items</h2>
    <v-list color="background">
      <v-list-item
        v-for="item in this.vendor_items"
        :key="item.id"
        two-line
        class="px-2 px-md-4"
      >
        <v-lazy>
          <v-list-item-avatar tile size="50">
            <v-img :src="'/icons/' + item.icon"></v-img>
          </v-list-item-avatar>
        </v-lazy>
        <v-list-item-content>
          <v-list-item-title>{{ item.name | capitalise }}</v-list-item-title>
          <v-list-item-subtitle>{{ item.description | capitalise }}</v-list-item-subtitle>
        </v-list-item-content>
        <v-list-item-action>
          <v-btn
            icon
            color="primary"
            @click="addItem(item.id)"
          >
            <v-icon>mdi-plus</v-icon>
          </v-btn>
        </v-list-item-action>
      </v-list-item>
    </v-list>
    <v-banner>
      <span v-html="this.$store.state.iconAttribution"></span>
    </v-banner>
    <v-snackbar
      bottom
      :timeout=1500
      v-model="showAddedSnackbar"
    >
      {{ this.addedItem | capitalise }} added to shopping list.
      <v-btn
        color="accent"
        text
        @click="showAddedSnackbar = false"
      >
        Close
      </v-btn>
    </v-snackbar>
  </v-container>
</template>

<script>
import VueMapboxMap from 'vue-mapbox-map'

export default {
  components: {
    VueMapboxMap
  },

  data () {
    return {
      addedItem: null,
      map: null,
      showAddedSnackbar: false,

      vendor_addr_city: null,
      vendor_addr_housenumber: null,
      vendor_addr_postcode: null,
      vendor_addr_street: null,
      vendor_brand: null,
      vendor_description: null,
      vendor_items: [],
      vendor_lat: 0,
      vendor_lon: 0,
      vendor_name: null,
      vendor_opening_times: null,
      vendor_type: null,
      vendor_wheelchair: null
    }
  },

  mounted () {
    this.axios.get('/api/vendor/' + this.$route.params.id).then(({ data }) => {
      this.setVendorData(data)
      console.log(data)
    })
  },

  methods: {
    addItem (id) {
      // if (this.shoppingItems.some(item => item.id === id)) {
      // Already in shopping list, add again?
      // }
      const item = this.vendor_items.find(item => item.id === id)
      this.addNotification(item.name + ', ' + item.description)
      this.$store.commit('addItemToShoppingList', item)
    },

    addNotification (text) {
      // Forces a new snackbar to be displayed
      // Reference: https://github.com/vuetifyjs/vuetify/issues/2384#issuecomment-362285637
      this.showAddedSnackbar = false

      setTimeout(() => {
        this.addedItem = text
        this.showAddedSnackbar = true
      })
    },

    goBack () {
      console.log(this.$router.referer)
      if (this.$router.referer.path === '/') {
        this.$router.push('/map')
      }
      else {
        this.$router.go(-1)
      }
    },

    setVendorData (data) {
      this.vendor_addr_city = data.addr_city
      this.vendor_addr_housenumber = data.addr_housenumber
      this.vendor_addr_postcode = data.addr_postcode
      this.vendor_addr_street = data.addr_street
      this.vendor_brand = data.brand
      this.vendor_description = data.description
      this.vendor_items = data.items
      this.vendor_lat = data.lat
      this.vendor_lon = data.lon
      this.vendor_name = data.name
      this.vendor_opening_times = data.opening_times
      this.vendor_type = data.type
      this.vendor_wheelchair = data.wheelchair
    },

    onMapLoaded (map) {
      map.addSource('point', {
        type: 'geojson',
        data: '/api/vendor_geojson/' + this.$route.params.id
      })

      map.loadImage('/map-marker.png',
        function (error, image) {
          if (error) throw error
          map.addImage('map-marker', image, {
            sdf: true
          })
        }
      )

      map.addLayer({
        id: 'point',
        type: 'symbol',
        source: 'point',
        layout: {
          'icon-image': 'map-marker',
          'icon-size': 0.5
        },
        paint: {
          'icon-color': [
            'match',
            ['get', 'type'],
            'alcohol', '#999950',
            'bakery', '#646B63',
            'beverages', '#1F3A3D',
            'brewing_supplies', '#412227',
            'butcher', '#8E9308',
            'cheese', '#2E3A23',
            'chocolate', '#CB3234',
            'coffee', '#25221B',
            'confectionery', '#6C7156',
            'convenience', '#29B3E8',
            'deli', '#F80000',
            'dairy', '#5B3A29',
            'farm', '#CB2821',
            'frozen_food', '#909090',
            'greengrocer', '#8E402A',
            'health_food', '#C6A664',
            'ice_cream', '#231A24',
            'pasta', '#FE0000',
            'pastry', '#DE4C8A',
            'seafood', '#59351F',
            'spices', '#282828',
            'tea', '#FFFF00',
            'general', '#4E5754',
            'supermarket', '#D84B20',
            'wholesale', '#31372B',
            '#FFFFFF' // Other
            // This should probably be moved into Vuex
          ]
        }
      })
    }
  }
}
</script>

<style>
.vendor-description {
  font-style: italic;
}

.map {
  height: 30vh;
}
</style>
