<template>
  <v-app id="inspire">
    <!--<v-navigation-drawer
      v-model="drawer"
      app
      clipped
    >
      <v-list dense>
        <v-list-item :to="{path: '/'}">
          <v-list-item-action>
            <v-icon>mdi-home</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title>Home</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
        <v-list-item :to="{path: '/settings'}">
          <v-list-item-action>
            <v-icon>mdi-settings</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title>Settings</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
        <v-list-item :to="{path: '/about'}">
          <v-list-item-action>
            <v-icon>mdi-help</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title>About</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
      </v-list>
    </v-navigation-drawer>-->

    <!--<v-app-bar
      app
      clipped-left
    >-->
      <!--<v-btn icon><v-icon>mdi-arrow-left</v-icon></v-btn>-->
      <!--<v-app-bar-nav-icon @click.stop="drawer = !drawer"></v-app-bar-nav-icon>
      <v-toolbar-title>0waste</v-toolbar-title>
    </v-app-bar>-->

    <v-content>
      <v-container fluid pa-0 ma-0>
        <!--<v-fade-transition mode="out-in">-->
          <router-view></router-view>
        <!--</v-fade-transition>-->
      </v-container>
      <v-snackbar
        v-model="updateSnackbar"
        bottom
        :timeout="0"
        multi-line
      >
        A new version of the app is available.
        <v-spacer />
        <v-btn
          color="accent"
          text
          @click.native="refreshApp"
        >
          Update
        </v-btn>
      </v-snackbar>
    </v-content>
  </v-app>
</template>

<script>
import geolocator from 'geolocator'
export default {
  created () {
    this.$vuetify.theme.dark = this.$store.state.darkTheme
    this.$store.commit('updateMapStyle')

    document.addEventListener(
      // https://medium.com/@dougallrich/give-users-control-over-app-updates-in-vue-cli-3-pwas-20453aedc1f2
      'swUpdated', this.displayUpdateSnackbar, { once: true }
    )

    navigator.serviceWorker.addEventListener(
      // https://medium.com/@dougallrich/give-users-control-over-app-updates-in-vue-cli-3-pwas-20453aedc1f2
      'controllerchange', () => {
        if (this.refreshing) return
        this.refreshing = true
        window.location.reload()
      }
    )

    // Store the user's IP address and corresponding co-ordinates
    var vue = this
    geolocator.getIP(function (err, result) {
      console.log(err || result)
      if (result) {
        if (vue.$store.state.ip !== result.ip) {
          vue.$store.commit('setIP', result.ip)
          geolocator.locateByIP({},
            function (err, location) {
              console.log(err || location)
              if (location) {
                vue.$store.commit('setUserLoc', {
                  lng: location.coords.longitude,
                  lat: location.coords.latitude
                })
              }
            }
          )
        }
      }
    })
  },

  data () {
    return {
      // https://medium.com/@dougallrich/give-users-control-over-app-updates-in-vue-cli-3-pwas-20453aedc1f2
      refreshing: false,
      registration: null,
      updateSnackbar: false
    }
  },

  methods: {
    displayUpdateSnackbar (e) {
      // https://medium.com/@dougallrich/give-users-control-over-app-updates-in-vue-cli-3-pwas-20453aedc1f2
      // Display a snackbar inviting the user to refresh/reload the app due
      // to an app update being available.
      // The new service worker is installed, but not yet active.
      // Store the ServiceWorkerRegistration instance for later use.
      this.registration = e.detail
      this.updateSnackbar = true
    },

    refreshApp () {
      // https://medium.com/@dougallrich/give-users-control-over-app-updates-in-vue-cli-3-pwas-20453aedc1f2
      this.updateSnackbar = false
      // Protect against missing registration.waiting.
      if (!this.registration || !this.registration.waiting) {
        return
      }
      this.registration.waiting.postMessage('skipWaiting')
    }
  }
}
</script>

<style>
html {
  overflow-y: auto !important;
}

.v-list-item__subtitle, .v-list-item__title {
  /* Prevent characters with tails (e.g. g, y) getting cut off */
  line-height: 1.5 !important;
}

.row {
  /* Prevent negative margin-top and margin-bottom on rows */
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}
</style>
